*,
*::after,
*::before {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins, sans-serif;
}

#quote-box {
  min-height: 300px;
  min-width: 600px;
  width: min-content;
  background-color: white;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 2px 10px 5px #3334;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#text {
  font-size: 2rem;
}

#author {
  margin-top: 1rem;
  text-align: right;
  bottom: 0;
  font-size: 1.5rem;
}

#new-quote {
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  background-color: lightcoral;
  color: white;
}

#new-quote:hover {
  cursor: pointer;
  background-color: coral;
}

.quote-text-wrapper {
  margin-bottom: 1em;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}
